<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

	<link rel="stylesheet" type="text/css" href="/assets/styles/stylesheet.css" media="screen">
	<link rel="stylesheet" type="text/css" href="/assets/styles/github-dark.css" media="screen">

    <title>{{ page.title }} - @legitwhiz</title>
  </head>

  <body>

    <header>
      <div class="container">
        <h1>
        	<a href="https://legitwhiz.github.io">
        		@legitwhiz
        	</a>
       	</h1>
        <h2>legit whiz 技術レポート</h2>

        <section id="downloads">
          <a href="https://github.com/legitwhiz" class="btn btn-github">
	    <span class="icon"></span>View on GitHub
	  </a>
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
	{{ content }}
      </section>
    </div>

    <footer>
        <p>Copyright &#169; 2019 Daisuke Sakamoto (Legit Whiz)</p>
        <p>This software is released under the MIT License, see LICENSE, see LICENSE.</p>
        <p>This contents is released under the CC BY 4.0 License, see LICENSE.</p>
    </footer>
    
  </body>
</html>
